

{% extends 'tweet_app/home.html' %} {% block content %}
<div class="d-flex flex-column overflow-auto m-0 p-0" style="width:700px; height:1000px;">

  <div class="card shadow d-md-none d-md-block" id="uniqueDiv1" style="width: 90%; height: 40vw;">
    <div
      class="d-flex flex-row justify-content-start"
      style="width: 100%; height: 100%"
    >
      <div class="d-flex justify-content-center align-items-center" style="width: 60%">
        {% if request.user.profile_picture_path %}
          <img
            class="rounded"
            src="{{request.user.profile_picture_path.url}}"
            style="width: 80%; height:80%;"
          />
        {% else %}
          <img class="rounded-circle mx-3" src="https://cdn.icon-icons.com/icons2/3065/PNG/512/profile_user_account_icon_190938.png" style="width:80%; height:80%;"/>
        {% endif %}
      </div>
      <div
        class="d-flex flex-column my-4 rounded justify-content-between"
        style="width: 40%; background-color: blanchedalmond"
      >
        <div class="d-flex flex-column" >
          <h4 class="mx-2 mt-2" style="font-size: 4vw">{{request.user.name}}</h4>
          <h6 class="mx-2 text-muted" style="font-size: 3vw">@{{request.user.username}}</h6>
          <h6 class="mx-2 text-muted" style="font-size: 2vw">joined {{date_joined}}</h6>
        </div>
        <div class="d-flex flex-row justify-content-around align-items-between mx-1">
          <p class="mb-1" style="font-size: 2vw;">following {{following_count}}</p>
          <p class="mb-1" style="font-size: 2vw">followers {{followers_count}}</p>
        </div>
        <div class="d-flex justify-content-center align-items-center">

          <button class="btn btn-primary" data-target="#profileModal{{request.user.id}}" data-toggle="modal" style="font-size: 2.8vw; width:20vw; height:7vw;">Edit profile</button>

          <div class="modal fade" id="profileModal{{request.user.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4>edit profile</h4>
                </div>
                <form method="post" id="profile-form-{{request.user.id}}" action="{% url 'edit_profile' %}" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="modal-body">
                    <div class="form-group d-flex flex-row">
                      <label for="new_username" class="col-form-label " style="white-space: nowrap;">new username:</label>
                      <input class="form-control mx-2" id="new_username" type="text" name="username" value="{{request.user.username}}"></input>
                      <label for="new_name" class="col-form-label" style="white-space: nowrap;">new name:</label>
                      <input class="form-control mx-2" id="new_name" type="text" name="name" value="{{request.user.name}}"></input>
                    </div>
                    <div class="d-flex">
                      <input type="file" name="profile_picture_path" accept="image/*, video/*" value="{{request.user.profile_picture_path}}">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form method="post" action="{% url 'edit_profile' %}">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-primary" data-target="#profileModal{{request.user.ir}}" 
                      data-toggle="modal">Apply </button>
                    </form>
                    <input type="hidden" name="id" value="{{request.user.id}}">
                  </div>
                </form>
              </div>
            </div>
          </div>  



        </div>
      </div>
    </div>
  </div>


  <div class="card shadow d-none d-md-block" id="uniqueDiv" style="width: 90%; height: 17vw;">
    <div
      class="d-flex flex-row justify-content-start"
      style="width: 100%; height: 100%"
    >
      <div class="d-flex justify-content-center align-items-center" style="width: 60%">
        {% if request.user.profile_picture_path %}
          <img
            class="rounded"
            src="{{request.user.profile_picture_path.url}}"
            style="width: 80%; height:80%;"
          />
        {% else %}
          <img class="rounded-circle mx-3" src="https://cdn.icon-icons.com/icons2/3065/PNG/512/profile_user_account_icon_190938.png" style="width:80%; height:80%;"/>
        {% endif %}
      </div>
      <div
        class="d-flex flex-column my-4 rounded justify-content-start"
        style="width: 40%; background-color: blanchedalmond"
      >
        <div class="d-flex flex-column">
          <h4 class="mx-2 mt-2">{{request.user.name}}</h4>
          <h6 class="mx-2 text-muted">@{{request.user.username}}</h6>
          <h6 class="mx-2 text-muted">joined {{date_joined}}</h6>
        </div>
        <div class="d-flex flex-row justify-content-around align-items-between my-2 mx-1">
          <p>following {{following_count}}</p>
          <p>followers {{followers_count}}</p>
        </div>
        <div class="d-flex justify-content-center align-items-center" style="z-index: 10000;">

          <button class="btn btn-primary" data-target="#profileModal{{request.user.id}}-1" data-toggle="modal" 
          style="font-size: 1.2vw; width:8vw; height:2.7vw;" >Edit profile</button>

          <div class="modal fade" id="profileModal{{request.user.id}}-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index:10000;">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4>edit profile</h4>
                </div>
                <form method="post" id="profile-form-{{request.user.id}}" action="{% url 'edit_profile' %}" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="modal-body">
                    <div class="form-group d-flex flex-row">
                      <label for="new_username" class="col-form-label " style="white-space: nowrap;">new username:</label>
                      <input class="form-control mx-2" id="new_username" type="text" name="username" value="{{request.user.username}}"></input>
                      <label for="new_name" class="col-form-label" style="white-space: nowrap;">new name:</label>
                      <input class="form-control mx-2" id="new_name" type="text" name="name" value="{{request.user.name}}"></input>
                    </div>
                    <div class="d-flex">
                      <input type="file" name="profile_picture_path" accept="image/*, video/*" value="{{request.user.profile_picture_path}}">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form method="post" action="{% url 'edit_profile' %}">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-primary" data-target="#profileModal{{request.user.ir}}" 
                      data-toggle="modal">Apply </button>
                    </form>
                    <input type="hidden" name="id" value="{{request.user.id}}">
                  </div>
                </form>
              </div>
            </div>
          </div>  



        </div>
      </div>
    </div>
  </div>
  <div
    class="d-flex flex-column overflow-auto"
    style="height: 95%; width: 95%;"
  >
    {% for tweet in tweets reversed%}
    <div class="card rounded shadow">
      <div class="card-header">
        <div class="d-flex justify-content-start justify-content-between">
          <div class="d-flex align-items-start">
            {% if request.user.profile_picture_path %}
            <img
              class="rounded"
              src="{{request.user.profile_picture_path.url}}"
              style="width: 50px; height:50px;"
            />
          {% else %}
            <img class="rounded-circle mx-3" src="https://cdn.icon-icons.com/icons2/3065/PNG/512/profile_user_account_icon_190938.png" style="width:50px; height:50px;"/>
          {% endif %}
            <div class="mx-3">
              <h5 class="m-0">{{tweet.user.username}}</h5>
              <p class="m-0">{{tweet.timestamp|timesince}}</p>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <button
              type="button"
              name="delete_tweet"
              id="{{tweet.tweet_id}}"
              class="btn btn-primary"
              data-toggle="modal"
              data-target="#deleteModal{{tweet.tweet_id}}"
            >
              Delete
            </button>

            <div
              class="modal fade"
              id="deleteModal{{tweet.tweet_id}}"
              tabindex="-1"
              role="dialog"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog" role="document">
                <form
                  method="post"
                  id="delete-tweet-{{tweet.tweet_id}}"
                  action="{% url 'delete_tweet' %}"
                >
                  {% csrf_token %}
                  <div class="modal-content">
                    <div class="modal-body">
                      <h3>Are you sure you want to delete this tweet?</h3>
                      <input
                        type="hidden"
                        name="tweet_id"
                        id="{{tweet.tweet_id}}"
                        value="{{tweet.tweet_id}}"
                      />
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                      >
                        Close
                      </button>
                      <button
                        type="submit"
                        class="btn btn-primary"
                        id="delete_tweet-{{tweet.tweet_id}}"
                        data-toggle="modal"
                        data-target="#deleteModal"
                      >
                        Yes
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="d-flex flex-row">
          <p>{{tweet.text}}</p>
        </div>
        {% if tweet.image %}
        <img src="{{tweet.image.url}}" style="width: 100%" />
        {% endif %}
      </div>
      <div class="card-footer">
        <div class="d-flex post-actions">
          <form action="{% url 'like_post' %}" method="post">
            {% csrf_token %}
            <div class="d-flx" id="like-button-div">
              <button
                type="submit"
                class="btn btn-link d-flex align-items-center text-muted mx-4"
                name="like-button"
                value="{{tweet.tweet_id}}"
                id="{{ tweet.tweet_id }}"
              >
                <input
                  name="user_id"
                  value="{{request.user.id}}"
                  type="hidden"
                />
                <input
                  name="tweet_id"
                  value="{{tweet.tweet_id}}"
                  type="hidden"
                />

                {% if tweet.tweet_id in liked_tweets %}
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="red"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-heart icon-md mb-0"
                  id="svg"
                >
                  <path
                    d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
                  ></path>
                </svg>
                {% else %}
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-heart icon-md mb-0"
                  id="svg"
                >
                  <path
                    d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
                  ></path>
                </svg>
                {% endif %}
                <p class="d-none d-md-block mx-1 my-2">Like</p>
              </button>
            </div>
          </form>

          <div class="d-flx" id="like-button-div">
            <button
              type="button"
              class="btn btn-link d-flex align-items-center text-muted mx-4"
              name="comment_button_{{tweet.tweet_id}}"
              data-target="#CommentModal{{tweet.tweet_id}}"
              data-toggle="modal"
              data-whatever="@getbootstrap"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-message-square icon-md mb-0"
              >
                <path
                  d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"
                ></path>
              </svg>
              <p class="d-none d-md-block mx-1 my-2">Comment</p>
            </button>

            <div
              class="modal fade"
              id="CommentModal{{tweet.tweet_id}}"
              tabindex="-1"
              role="dialog"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <!-- <h5 class="modal-title" id="exampleModalLabel">Write your comment</h5> -->
                    <!-- <button type="button" class="close rounded-circle" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button> -->
                    <div
                      class="d-flex flex-column overflow-auto"
                      style="height: 400px"
                    >
                    {% for comment in comments%} 
                    {% if comment.tweet_id == tweet.tweet_id %}
                      <div
                        class="d-flex flex-row my-3"
                        id="comments_{{tweet.tweet_id}}"
                      >
                        <div class="d-flex flex-row align-items-center">

                          {% if request.user.profile_picture_path %}
                            <img
                              class="rounded-circle"
                              src="{{comment.user.profile_picture_path.url}}"
                              style="width: 50px; height: 50px"
                            />
                          {% else %}
                            <img class="rounded-circle mx-3" src="https://cdn.icon-icons.com/icons2/3065/PNG/512/profile_user_account_icon_190938.png" style="width:50px; height:50px;"/>
                          {% endif %}
                          <div class="d-flex flex-column">
                            <h6 class="mx-2 p-0 my-0">{{comment.user.name}}</h6>
                            <p class="text-muted mx-2 p-0 my-0">
                              {{comment.user.username}}
                            </p>
                          </div>
                        </div>
                        <p>{{comment.content}}</p>
                      </div>
                      <hr />
                      {% endif %} 
                    {% endfor %}
                    </div>
                  </div>

                  <form
                    method="post"
                    id="comment-form-{{tweet.tweet_id}}"
                    action="{% url 'send_comment' %}"
                  >
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="message-text" class="col-form-label"
                          >Message:</label
                        >
                        <textarea
                          class="form-control"
                          id="message-text"
                          name="comment"
                        ></textarea>
                        <input
                          type="hidden"
                          name="tweet_id"
                          value="{{tweet.tweet_id}}"
                        />
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                      >
                        Close
                      </button>
                      <form method="post" action="{% url 'send_comment' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">
                          Send Comment
                        </button>
                      </form>
                      <input
                        type="hidden"
                        name="user_id"
                        value="{{request.user.id}}"
                      />
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="d-flx" id="like-button">
            <button
              type="button"
              class="btn btn-link d-flex align-items-center text-muted mx-4"
              name="share_button_{{tweet.tweet_id}}"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-share icon-md mb-0"
              >
                <path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8"></path>
                <polyline points="16 6 12 2 8 6"></polyline>
                <line x1="12" y1="2" x2="12" y2="15"></line>
              </svg>
              <p class="d-none d-md-block mx-1 my-2">Share</p>
            </button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

<!-- {% block recoms %}




{% endblock %} -->
